<div class="todo-item">
    <div class="todo-app">
        <input class="todo-input" type="text" placeholder="Enter New Task" #task />
        <button class="btn" (click)="addTask(task.value)">Add New Task</button>
            <br>
<br>
<br>

<br>

        <ul >
            <li *ngFor="let item of items">
                <div class="todo-item">
                    {{item.name}}
                    <button class="btn btn-red" (click)="removeTask(item.id)">Remove</button>
                </div> 
            </li>
        </ul>
</div>
</div>
